body { 
    background-color: #CFD4D8;
}

.container-bg{
    background-color: #9CD6C6;
}

.btn-sm {
    width: 120px;
    font-size: .75em;
}

.authstyles {
    display: block;
}

.logo-lg {
    font-family: 'Times New Roman', 'Times', serif;
    font-size: 2.25rem;
}

.jumbotron {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, 
        rgba(0, 0, 0, 0.7) 100%), url('../img/pexels-mart-production-8107253.jpg') 
        no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: cover;
    height: 60vh;
}

#btn-back-to-top {
    position: fixed;
    bottom: 70px;
    right: 30px;
    display: none;
    border: 50%;
}

.center-form {
    max-width: 420px;
    padding: 20px;
    margin: auto;
}

@media screen and (min-width: 1200px) {
    .banner {
        width: 50vw;
    }
    .btn-sm {
        /* width: 150px; */
        font-size: .9em;
    }
}